<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Group one</string>
		<key>FireTime</key>
		<integer>10</integer>
		<key>NotificationTextArray</key>
		<array>
			<string>This first notification belongs to group </string>
			<string>This second notification belongs to group </string>
			<string>This third notification belongs to group </string>
			<string>This fourth notification belongs to group </string>
			<string>This fifth notification belongs to group </string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Group Two</string>
		<key>FireTime</key>
		<integer>20</integer>
		<key>NotificationTextArray</key>
		<array>
			<string>This first notification belongs to group </string>
			<string>This second notification belongs to group </string>
			<string>This third notification belongs to group </string>
			<string>This fourth notification belongs to group </string>
			<string>This fifth notification belongs to group </string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Group Three</string>
		<key>FireTime</key>
		<integer>30</integer>
		<key>NotificationTextArray</key>
		<array>
			<string>This first notification belongs to group </string>
			<string>This second notification belongs to group </string>
			<string>This third notification belongs to group </string>
			<string>This fourth notification belongs to group </string>
			<string>This fifth notification belongs to group </string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Group Four</string>
		<key>FireTime</key>
		<integer>40</integer>
		<key>NotificationTextArray</key>
		<array>
			<string>This first notification belongs to group </string>
			<string>This second notification belongs to group </string>
			<string>This third notification belongs to group </string>
			<string>This fourth notification belongs to group </string>
			<string>This fifth notification belongs to group </string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Group Five</string>
		<key>FireTime</key>
		<integer>50</integer>
		<key>NotificationTextArray</key>
		<array>
			<string>This first notification belongs to group </string>
			<string>This second notification belongs to group </string>
			<string>This third notification belongs to group </string>
			<string>This fourth notification belongs to group </string>
			<string>This fifth notification belongs to group </string>
		</array>
	</dict>
</array>
</plist>
